html{
    background-color: lightsteelblue;
}

#gameBoard{
    background:lightblue;
    border:#999 1px solid;
    width: 800px;
    height: 540px;
    padding: 24px;
    margin:0px auto;
}

#gameBoard > div{
    background-color:lightslategrey; 
    /* background: url("./images/PlainTile.png") no-repeat; */
    display:flex;

    border: lightgray 1px solid;
    width: 66px;
    height: 66px;
    float: left;
    margin: 12px;
    padding: 20px;
    font-size: 64 px;
    cursor:pointer;
    text-align:center;


}

.playerScore{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
   
#player1Div, #player2Div{
  
    background-color: lightblue;
    height:45px;
    width:105px;
    margin:5px 5px 5px 5px;
    text-align: center;
    border-radius: 10%;
    color: grey;
} 

#player1Score, #player2Score{
    background-color: lightblue;
    height:45px;
    width:105px;
    margin:5px  5px 5px 5px;
    border-radius: 50%;
    text-align: center;
  
    color: grey;
}

#gameRules, h4{
    color: grey;
}
#resetButton{
    color: grey;
}