html{
    background-color: lightsteelblue;
}
#gameHeading{
    text-align:center;
    color:grey;
    /* font-size:3vw; */
}
#gameBoard{
    background:lightblue;
    border:#999 1px solid;
    width: 590px;
    height: 460px;
    padding: 20px;
    margin:0px auto;
}

#gameBoard > div{
    background-color:lightslategrey; 
    /* background: url("./images/PlainTile.png") no-repeat; */
    display:flex;
    border: lightgray 1px solid;
    width: 50px;
    height: 50px;
    float: left;
    margin: 12px;
    padding: 20px;
    cursor:pointer;
    text-align:center;


}

.playerScore{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
   
#player1Div, #player2Div{
  
    background-color: lightblue;
    height:45px;
    width:105px;
    margin:5px 5px 5px 5px;
    text-align: center;
    border-radius: 10%;
    color: grey;
} 

#player1Score1, #player2Score1{
    background-color: lightblue;
    height:45px;
    width:105px;
    margin:5px  5px 5px 5px;
    border-radius: 50%;
    text-align: center;
  
    color: grey;
}
#player1Score, #player2Score{
    color:coral
}
#gameRules, h5{
    color: grey;
}
#resetButton{
    color: grey;
    background-color: lightblue;
}